.video-wrap {
    display: inline-block;
    margin-bottom: 30px;
}

.bl_6_video .title {
    padding-bottom: 30px;
}

.bl_6_video {
    margin-bottom: 10px;
    text-align: center;
}
.audio-wrap {
    padding: 0  0 30px ;

}

.audio-reviews-item {
    display: inline-block;
    width: 33%;
    padding: 0 10px;
    position: relative;
}
.audio-reviews-items {
    text-align: center;
    font-size:0;
}
.audio-wrap .play-pause p, .audio-reviews-title {
    color: #000;
    position: absolute;
    top: 20px;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.audio-descrip {
    display: block;
    margin: 10px 0;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    color: #fff;
}

.audio-reviews-title {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.audio-reviews-item {
    margin-bottom: 10px;
}

.audio-descrip {
    margin-bottom: 30px;
}
/* audio ends */

/*.audio-1 .audiojs {*/
    /*background-image: url(../img/audio-bg1.jpg)*/
/*}*/

/*.audio-2 .audiojs {*/
    /*background-image: url(../img/audio-bg2.jpg)*/
/*}*/

/*.audio-3 .audiojs {*/
    /*background-image: url(../img/audio-bg3.jpg)*/
/*}*/

.audiojs {
    max-width: 100%;
    background-color: #e6e6e5;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: none;
    height: 100px;
    border-radius: 15px;
    border: 3px solid #77797a
}

.audiojs * {
    border-width: 0
}
.audiojs .play-pause {
    border: none !important;
}
.loaded, .play-pause, .progress, .scrubber {
    background-color: transparent
}

.scrubber {
    position: absolute;
    bottom: -33px !important;
    left: 20% !important;
    width: 60% !important;
    background-color: #232323 !important;
    height: 2px !important;
    margin: 10px 0 0 !important;
}
.audiojs .scrubber {
    border: none !important;
}
.loaded, .progress {
    width: 100%;
    height: 2px !important;
    background-color: #474747
}

.play-pause {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 14px;
    left: calc(50% - 10px)
}

.play-pause .loading, .play-pause .pause, .play-pause .play {
    background-position: 0 0;
    background-image: url(../img/play.png);
    background-repeat: no-repeat
}

.play-pause .pause {
    background-image: url(../img/pause.png)
}

.time {
    display: none
}
.video-ancor {
    margin-right: 10px;
    background: #e62500;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    float: right;
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
    margin-top: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    letter-spacing: -0.03em;
}
@media (max-width: 991px) {
    .scrubber {
        width: 155px;
        bottom: 24px;
        left: 40px
    }
    .audio-reviews-item {
        width: 50%;
    }
}

@media (max-width: 767px) {

    .audio-1, .audio-2 {
        margin-bottom: 20px
    }

    .audiojs {
        margin: auto;
        position: relative;
        width: 300px;
    }

    .scrubber {
        width: 65%;
        left: 48px
    }
    .video-ancor {
        display: none;
    }
    .audio-reviews-item {
        width: 100%;
    }
}
